img {
  width: 20%;
}
.myorders-table__td__prev {
  width: 4%;
}
.myorders-table__td__prev__img {
  width: 42%;
}
.img-poput {
  position: absolute;
  width: 12%;
}
.parcel-popup__img {
  position: relative;
  top: -77px;
  left: -49px;
}
