<div class="internal-page">
  <div class="container rates-container">
    <div class="row">
      <div class="col-12">
        <h1 class="internal-page__name">тарифы</h1>
      </div>
    </div>
  </div>
</div>
<div class="rates">
  <div class="container rates-container">
    <div class="row">
      <div class="col-md-12">
        <div class="rates-list">
          <div class="rates-list-item">
            <p class="rates-list-item__title">основные услуги</p>
            <table class="rates-table">
              <tbody></tbody>
              <thead>
                <tr>
                  <th style="width: 52%"></th>
                  <th style="width: 29%">полное сопровождение</th>
                  <th>ваш адрес в сша</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Комиссия за прием покупки на наш склад</td>
                  <td>Бесплатно</td>
                  <td>Бесплатно</td>
                </tr>
                <tr>
                  <td>Фото вещей при регистрации на складе</td>
                  <td>Бесплатно</td>
                  <td>Бесплатно</td>
                </tr>
                <tr>
                  <td>Хранение покупок на складе до 90 дней</td>
                  <td>Бесплатно</td>
                  <td>Бесплатно</td>
                </tr>
                <tr>
                  <td>Консолидация (объединение покупок в одну посылку)</td>
                  <td>Бесплатно</td>
                  <td>Бесплатно</td>
                </tr>
                <tr>
                  <td>Дроп-шиппинг (отправление посылок разным получателям)</td>
                  <td>Бесплатно</td>
                  <td>Бесплатно</td>
                </tr>
                <tr>
                  <td>Удаление инвойсов</td>
                  <td>Бесплатно</td>
                  <td>Бесплатно</td>
                </tr>
                <tr>
                  <td>Удаление обувных коробок</td>
                  <td>Бесплатно</td>
                  <td>Бесплатно</td>
                </tr>
                <tr>
                  <td>Упаковка в новую коробку</td>
                  <td>$6</td>
                  <td>$6</td>
                </tr>
                <tr>
                  <td>Заполнение деклараций операторами компании</td>
                  <td>$1</td>
                  <td>$1</td>
                </tr>
                <tr>
                  <td>Страховка посылки от утери</td>
                  <td>3% от стоимости вложения, минимум $3</td>
                  <td>3% от стоимости вложения, минимум $3</td>
                </tr>
                <tr>
                  <td>Перевес – посылки весом больше 45 фунтов</td>
                  <td>$10</td>
                  <td>$10</td>
                </tr>
                <tr>
                  <td>Международная пересылка USPS Priority, EMS, Dnipro, Air/Sea Post</td>
                  <td>По тарифам почтовых служб</td>
                  <td>По тарифам почтовых служб</td>
                </tr>
                <tr>
                  <td>
                    Комиссия за выкуп товара (рассчитывается на каждый магазин
                    от итоговой суммы заказа, включая скидки, налоги и доставку по США,
                    но БЕЗ учета стоимости международной пересылки)
                  </td>
                  <td>5%, минимум $5 за заказ</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>Комиссия за выкуп в «капризных» онлайн магазинах ( подробный перечень )</td>
                  <td>10%, минимум $10 за заказ</td>
                  <td>-</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-calculator></app-calculator>
  <div class="container rates-container">
    <div class="row">
      <div class="col-md-12">
        <div class="rates-list">
          <div class="rates-list-item">
            <p class="rates-list-item__title">дополнительные услуги</p>
            <table class="rates-table">
              <tbody></tbody>
              <thead>
              <tr>
                <th style="width: 52%"></th>
                <th style="width: 29%">полное сопровождение</th>
                <th>ваш адрес в сша</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Предоставление скидок и промокодов ( если имеются)</td>
                <td>Бесплатно</td>
                <td>Бесплатно</td>
              </tr>
              <tr>
                <td>Дополнительное фото вещи или посылки</td>
                <td>$3</td>
                <td>$3</td>
              </tr>
              <tr>
                <td>Проверка товара на комплектность в соответствии с инвойсом,
                  на видимые изъяны, цвет, размер</td>
                <td>$3 за вещь</td>
                <td>$3 за вещь</td>
              </tr>
              <tr>
                <td>Спец. запрос (проверка работоспособности, создание спец.упаковки,
                  удаление ценников, обработка рефанда и т.д.)</td>
                <td>$1в минуту, минимум 10 $</td>
                <td>$1в минуту, минимум 10 $</td>
              </tr>
              <tr>
                <td>Предоставление сканов инвойсов, деклараций,
                  адресных лэйблов и др. документов</td>
                <td>$10</td>
                <td>$10</td>
              </tr>
              <tr>
                <td>Упаковка вещей в полиэтиленовый пакет внутри коробки
                  (бесплатно для посылок весом более 20 фунтов)</td>
                <td>$3</td>
                <td>$3</td>
              </tr>
              <tr>
                <td>Дополнительная упаковка хрупких вещей</td>
                <td>$5-10</td>
                <td>$5-10</td>
              </tr>
              <tr>
                <td>Упаковка в защитную многослойную пленку поверх коробки</td>
                <td>$8</td>
                <td>$8</td>
              </tr>
              <tr>
                <td>Перевес- посылки весом больше 45 фунтов</td>
                <td>$5</td>
                <td>$5</td>
              </tr>
              <tr>
                <td>Перенос пакета в другую ячейку</td>
                <td>$20 + почтовые расходы (комиссия за покупку заказа не возмещается)</td>
                <td>$20 + почтовые расходы (комиссия за покупку заказа не возмещается)</td>
              </tr>
              <tr>
                <td>Хранение товара на складе более 90 дней</td>
                <td>$1 в день за коробку</td>
                <td>$1 в день за коробку</td>
              </tr>
              <tr>
                <td>Хранение готовой к отправке посылки более 5 дней</td>
                <td>$5 в день за коробку</td>
                <td>$5 в день за коробку</td>
              </tr>
              <tr>
                <td>Комиссия за выкуп заказа с оптовых сайтов</td>
                <td>5%, минимум $10 за заказ</td>
                <td>-</td>
              </tr>
              <tr>
                <td>Комиссия за выкуп товара в офлайн магазине</td>
                <td>15%, минимум $20 за единицу товара</td>
                <td>-</td>
              </tr>
              <tr>
                <td>Ведение телефонных переговоров (переписки) с магазинами и почтовыми службами по вашему запросу</td>
                <td>$10 за 1 звонок или письмо</td>
                <td>$10 за 1 звонок или письмо</td>
              </tr>
              <tr>
                <td>Возврат покупки продавцу</td>
                <td>$10</td>
                <td>$10</td>
              </tr>
              <tr>
                <td>Утилизация покупки</td>
                <td>Бесплатно</td>
                <td>Бесплатно</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center rates-search__title">Поиск</p>
        <div class="search">
          <i aria-hidden="true" class="fa fa-search"></i>
          <input placeholder="Поиск посылки" [(ngModel)]="search" class="form-control search__input" type="text">
        </div>
        <div [highlight]="search">
          <div class="rates-commission">
            <p class="rates-list-item__title">комиссия {{ magazine[1][0].commission }}%, минимум $10</p>
            <ul>
              <li *ngFor="let magazines of magazine[1]">
                <a class="rates-list-item__link" target="_blank" href="http://{{magazines.name}}">{{ magazines.name }}</a>
              </li>
            </ul>
          </div>
          <div class="rates-commission">
            <p class="rates-list-item__title">комиссия {{ magazine[0][0].commission }}%, минимум $15</p>
            <ul>
              <li *ngFor="let magazines of magazine[0]">
                <a class="rates-list-item__link" target="_blank" href="http://{{magazines.name}}">{{ magazines.name }}</a>
              </li>
            </ul>
            <p>
              Заказы из вышеперечисленных магазинов выкупаются на частные адреса в Пенсильвании,
              в связи с чем возможно начисление 6% налога на товары (кроме одежды и обуви).
            </p>
          </div>
        </div>
        <div class="rates-commission">
          <p class="rates-list-item__title">В настоящий момент заказы не принимаются:</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
