<div fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="20px" fxLayoutAlign="space-between center">
  <div fxFlex="48%" fxFlex.xs="100%" class="adress-wrap">
    <div class="adress-item" fxLayoutAlign="baseline center" fxLayout="wrap">
      <p class="adress-item__title">
        Имя
      </p>
      <p class="adress-item__text">
        {{ addressDE?.first_name }}
      </p>
    </div>
    <div class="adress-item" fxLayoutAlign="baseline center" fxLayout="wrap">
      <p class="adress-item__title">
        Фамилия
      </p>
      <p class="adress-item__text">
        {{ addressDE?.last_name }}
      </p>
    </div>
    <div class="adress-item" fxLayout="wrap" fxLayoutAlign="baseline center">
      <p class="adress-item__title">
        Адрес 1
      </p>
      <p class="adress-item__text">
        {{ addressDE?.address1 }}
      </p>
    </div>
    <div class="adress-item" fxLayoutAlign="baseline center" fxLayout="wrap">
      <p class="adress-item__title">
        Адрес 2
      </p>
      <p class="adress-item__text">
        {{ addressDE?.address2 }}
      </p>
    </div>
    <div class="adress-item" fxLayoutAlign="baseline center" fxLayout="wrap">
      <p class="adress-item__title">
        Город
      </p>
      <p class="adress-item__text">
        {{ addressDE?.city }}
      </p>
    </div>
    <div class="adress-item" fxLayoutAlign="baseline center" fxLayout="wrap">
      <p class="adress-item__title">
        Штат
      </p>
      <p class="adress-item__text">
        {{ addressDE?.state }}
      </p>
    </div>
    <div class="adress-item" fxLayoutAlign="baseline center" fxLayout="wrap">
      <p class="adress-item__title">
        Почтовый индекс
      </p>
      <p class="adress-item__text">
        {{ addressDE?.postal_code }}
      </p>
    </div>
    <div class="adress-item" fxLayoutAlign="baseline center" fxLayout="wrap">
      <p class="adress-item__title">
        Телефон
      </p>
      <p class="adress-item__text">
        {{ addressDE?.phone }}
      </p>
    </div>
  </div>
  <div fxFlex="48%" fxFlex.xs="100%" class="adress-wrap">
    <div class="adress-item" fxLayoutAlign="baseline center" fxLayout="wrap">
      <p class="adress-item__title">
        Имя
      </p>
      <p class="adress-item__text">
        {{ addressPA?.first_name }}
      </p>
    </div>
    <div class="adress-item" fxLayoutAlign="baseline center" fxLayout="wrap">
      <p class="adress-item__title">
        Фамилия
      </p>
      <p class="adress-item__text">
        {{ addressPA?.last_name }}
      </p>
    </div>
    <div class="adress-item" fxLayout="wrap" fxLayoutAlign="baseline center">
      <p class="adress-item__title">
        Адрес 1
      </p>
      <p class="adress-item__text">
        {{ addressPA?.address1 }}
      </p>
    </div>
    <div class="adress-item" fxLayoutAlign="baseline center" fxLayout="wrap">
      <p class="adress-item__title">
        Адрес 2
      </p>
      <p class="adress-item__text">
        {{ addressPA?.address2 }}
      </p>
    </div>
    <div class="adress-item" fxLayoutAlign="baseline center" fxLayout="wrap">
      <p class="adress-item__title">
        Город
      </p>
      <p class="adress-item__text">
        {{ addressPA?.city }}
      </p>
    </div>
    <div class="adress-item" fxLayoutAlign="baseline center" fxLayout="wrap">
      <p class="adress-item__title">
        Штат
      </p>
      <p class="adress-item__text">
        {{ addressPA?.state }}
      </p>
    </div>
    <div class="adress-item" fxLayoutAlign="baseline center" fxLayout="wrap">
      <p class="adress-item__title">
        Почтовый индекс
      </p>
      <p class="adress-item__text">
        {{ addressPA?.postal_code }}
      </p>
    </div>
    <div class="adress-item" fxLayoutAlign="baseline center" fxLayout="wrap">
      <p class="adress-item__title">
        Телефон
      </p>
      <p class="adress-item__text">
        {{ addressPA?.phone }}
      </p>
    </div>
  </div>
</div>
<div class="adress-content">
  <div class="adress-content-wrap">
    <p class="adress-content__title">
      Как пользоваться полученными адресами:
    </p>
    <p class="adress-content__text">
      Совершая покупки в американских онлайн магазинах, указывайте любой из предоставленных выше адресов в качестве shipping address для доставки ваших заказов на наш склад.
    </p>
  </div>
  <div class="adress-content-wrap">
    <p class="adress-content__title">
      Какой адрес выбрать:
    </p>
    <p class="adress-content__text">
      В Пенсильвании нет налогов на одежду и обувь. Поступающие покупки регистрируются в течении 24 часов. Сюда обычно выкупают детскую одежду из Catrers, Gymboree, Crazy8, GAP, OldNavy, обувь из Zappos, 6pm и др.
    </p>
  </div>
  <div class="adress-content-wrap">
    Делавер полностью безналоговый штат для любых групп товаров. С адреса в Делавере все покупки в день поступления абсолютно бесплатно перевозятся на основной склад в Пенсильвании, где заносятся в систему операторами сортировки в ваш эккаунт. Регистрация покупок с учетом перемещения в другой штат занимает до 48 часов. На этот адрес хорошо выкупать все остальные товары: игрушки, украшения, сумки, аксессуары, косметику, технику, спортивное снаряжение и т.д. Экономия на отсутствии налога с продаж составляет до 10%.
  </div>
  <div class="adress-content-wrap">
    Сразу после получения трек номера от продавца, занестите данные вашей покупки в систему через вкладку Создать заказ в верхнем меню. После регистрации оператором поступивших покупок, вы сможете упаковать все заказы, выкупленные как на склад в Пенсильвании, так и на склад в Делавере, в общую посылку.
  </div>
  <div class="adress-note">
    <p class="adress-note__title">
      Обратите внимание:
    </p>
    <p class="adress-note__text">
      При оплате товаров в магазинах с доставкой на склады ExpressFromUS, а так же при оплате услуг нашей компании необходимо использовать банковские карты, выданные на имя зарегистрированного в системе пользоватея. Имя пользователя сервиса должно полностью совпадать с именем плательщика. Оплата картами посторонних лиц недопустима.
    </p>
    <p class="adress-note__forbidden">
      Запрещено использовать данные адреса для:
    </p>
    <ul class="adress-note__forbidden__list">
      <li class="adress-note__forbidden__item">
        регистрации эккаунтов в магазинах и на любых других сайтах;
      </li>
      <li class="adress-note__forbidden__item">
        billing address (платежного адреса);
      </li>
      <li class="adress-note__forbidden__item">
        оформления кредитных карт, покупки товаров в рассрочку или любых других заемов
        денежных средств;
      </li>
      <li class="adress-note__forbidden__item">
        регистрации доменных имен, компаний;
      </li>
      <li class="adress-note__forbidden__item">
        покупки товаров из запрещенного списка;
      </li>
      <li class="adress-note__forbidden__item">
        покупки товаров чужой кредитной картой.
      </li>
    </ul>
  </div>
</div>
