<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-4">
        <ul>
          <li><a routerLink="/" href="#" class="footer__link">{{ 'footer.home' | translate }}</a></li>
          <li><a href="#" class="footer__link">{{ 'footer.forum' | translate }}</a></li>
          <li><a href="#" class="footer__link">{{ 'footer.help' | translate }}</a></li>
          <li><a href="#" class="footer__link">{{ 'footer.guarantees' | translate }}</a></li>
          <li><a href="#" class="footer__link">{{ 'footer.rates' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-8">
        <ul>
          <li><a href="#" class="footer__link">{{ 'footer.1' | translate }}</a></li>
          <li><a href="#" class="footer__link">{{ 'footer.2' | translate }}</a></li>
          <li><a href="#" routerLink="/affiliate_program" class="footer__link">{{ 'footer.3' | translate }}</a></li>
          <li><a href="#" class="footer__link">{{ 'footer.4' | translate }}</a></li>
          <li><a href="#" class="footer__link">{{ 'footer.5' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3 footer-clock">
        <span class="footer-time__title dark-orange">{{ 'footer.6' | translate }}</span>
        <span class="footer-time__clock">03:27</span>
        <span class="footer-time__title dark-orange">Пятница 7 Апреля 2017</span>
        <p class="footer-adress__text dark-orange">Huntingdon Valley <br>Pennsylvania, 19006, USA</p>
      </div>
      <div class="col-md-3 footer-adress">
        <div class="footer-adress-social">
          <a href="#" class="footer-adress-social__link footer-inst">
                        <img src="./assets/images/social/white-inst.svg" alt="" class="footer-adress-social__img">
                    </a>
          <a href="#" class="footer-adress-social__link footer-fb">
                        <img src="./assets/images/social/white-fb.svg" alt="" class="footer-adress-social__img">
                    </a>
          <a href="#" class="footer-adress-social__link footer-vk">
                        <img src="./assets/images/social/white-vk.svg" alt="" class="footer-adress-social__img">
                    </a>
          <a href="#" routerLink="/contact" class="btn footer-btn">{{ 'footer.7' | translate }}</a>
        </div>
      </div>
      <div class="col-12 text-center">
        <p class="footer__copyright">© 2009-2017 All Rights Reserved. ExpressFromUS.com</p>
      </div>
    </div>
  </div>
</div>
