@import './../../../scss/constants';

.myorders-adress-active-title {
  div:nth-child(1) {
    .myorders-adress-active__link.active {
      // border: none;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
  div:nth-child(2n) {
    .myorders-adress-active__link.active {
      // border: none;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  a {
    text-transform: uppercase;
    font-size: 22px;
    color: #323044;
    background: #ccc;
    padding: 4px 15px;
    font-family: intro;
    float: left;
  }
}

.myorders-adress-active__link.active {
  color: #f76451 !important;
  // border-radius: 10px;
}

.myorders {
  &-table {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border: 1px solid #d0d0d0;
    display: inline-block;
    margin-bottom: 36px;
    width: 100%;
    &__link {
      color: $link-white-under;
      text-decoration: underline;
      font-family: open-sans-regular;
      font-size: 18px;
      &:hover {
        color: $link-white-under-hover;
      }
    }
    &__th {
      padding-bottom: 22px;
      width: 9px;
      font-size: 1.25rem;
      color: #e26657;
      text-transform: uppercase;
      font-family: intro;
      padding-top: 19px;
      padding-left: 0px;
    }
    &__td {
      padding-top: 20px;
      padding-bottom: 20px;
      width: 9%;
    }
    &__tr {
      border-bottom: 1px solid #d0d0d0;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  &-adress {
    background: url(./../../../../assets/images/adress-bg.png) no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    padding: 0;
    @media (max-width: 991px) {
      background-size: 100% 67%;
    }
    &-active {
      background: url(./../../../../assets/images/adress-bg-active.png) no-repeat;
      width: 100%;
      height: 100%;
      background-position: 87px 0%;
      padding-left: 88px;
      padding-top: 20px;
      &-desc {
        display: flex;
        justify-content: space-between;
        width: 328px;
        padding-left: 1px;
        margin: 0 auto;
        p {
          font-size: 20px !important;
          margin: 0;
        }
      }
      p {
        text-align: center;
        font-family: open-sans-regular;
        font-size: 22px;
      }
      &-title {
        display: flex;
        justify-content: center;
      }
      &-info {
        margin-top: 17px;
        margin-bottom: 17px;
        &__title {
        }
      }
      &__link {
        text-transform: uppercase;
        font-size: 20px;
        color: $dark-blue;
        background: #ccc;
        padding: 4px 15px;
        font-family: intro;
        float: left;
        &:nth-child(1) {
          // border-top-left-radius: 10px;
          // border-bottom-left-radius: 10px;
          //&:after {
          //  content: "";
          //  width: 1px;
          //  height: 22px;
          //  background: #fff;
          //  display: inline-block;
          //  position: relative;
          //  top: 4px;
          //  right: -13px;
          //}
        }
        &:nth-child(2n) {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        &:hover {
          text-decoration: none;
          color: $dark-orange;
        }
        &.active {
          color: $dark-orange;
        }
      }
    }
    &__feature {
      width: 404px;
      margin: 0 auto;
      margin-top: 24px;
      @media (max-width: 991px) {
        width: 100%;
      }
      @media (max-width: 1200px) {
        margin-top: 11px;
        font-size: 14px;
      }
    }
    &__desc {
      margin-bottom: 5px;
    }
    &__form {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 19px;
      max-width: 81%;
      margin: 0 auto;
    }
    &__input {
      width: 120px;
      border-radius: 10px;
      outline: none;
      border: 2px solid #bdc3c7;
      height: 41px;
      padding-left: 13px;
    }
    &__btn {
      padding: 9px 11px;
      vertical-align: middle;
      @media (max-width: 991px) {
        margin-top: 10px;
      }
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
    &__title {
      font-size: 21px;
      text-transform: uppercase;
      font-family: intro;
      padding-top: 24px;
      @media (max-width: 991px) {
        font-size: 16px;
        padding-top: 12px;
        margin: 0;
      }
    }
    &__desc {
      & > span {
        font-family: open-sans-bold;
      }
    }
  }
  &-title {
    font-size: 60px;
    color: $dark-gray;
    font-family: intro;
    margin-top: 37px;
    margin-bottom: 24px;
  }
  &-menu {
    &__top {
      position: relative;
      top: 7px;
    }
    &__icon {
      color: #abaaaa;
      font-size: 20px;
      &:hover {
        color: $dark-orange;
      }
    }
    &__title {
      display: inline-block;
      font-size: 20px;
      font-family: intro;
      color: #424242;
      padding: 10px;
      padding-top: 6px;
      margin: 0;
      &:hover, &:focus {
        color: $dark-orange;
        text-decoration: none;
      }
      &--active {
        color: $dark-orange;
        background: $gray;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        &:hover, &:focus {
          color: $dark-orange;
          text-decoration: none;
        }
      }
    }
    &__list {
      list-style-type: none;
      padding: 0;
      background: #efefef;
      border-radius: 10px;
    }
    &__link {
      color: $dark-gray;
      &--active {
        color: $dark-orange;
      }
      &:hover {
        color: $dark-orange;
        text-decoration: none;
      }
    }
    &__item {
      display: inline-block;
      font-size: 16px;
      font-family: intro;
      padding: 11px;
      padding-right: 78px;
      padding-left: 18px;
      &:nth-child(5) {
        padding-right: 0;
      }
    }
  }
}

.num-orders {
  background: #a1a1a1;
  border-radius: 10px;
  color: $white;
  font-size: 10px;
  padding: 3px;
  position: relative;
  top: -2px;
}

.tooltip-inner {
  color: #424242;
  text-align: left;
  background-color: #efefef;
  font-size: 12px;
  max-width: 100%;
  padding-top: 9px;
  padding-bottom: 9px;
}

.tooltip.bs-tether-element-attached-bottom .tooltip-inner::before,
.tooltip.tooltip-top .tooltip-inner::before {
  border-top-color: #efefef;
  border-top-color: #efefef;
  bottom: -5px;
  left: 12%;
  margin-left: -14px;
  content: "";
  border-width: 14px 14px 0;
}

.tooltip {
  left: 84px !important;
  padding: 7px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

.form-wrapper {
  width: 100%;
  &__btn {
    padding: 13px 28px;
    &:hover {
    }
  }
}

.title {
  color: #27ae60;
  text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.9);
}

label.data-error {
  font-size: 12px;
  color: #e26657;
  padding-left: 16px;
}
.loading {
  top: 37% !important;
  left: 8% !important;
}
