<div class="container">
  <div class="row">
    <div class="search">
      <i aria-hidden="true" class="fa fa-search"></i>
      <input placeholder="Поиск посылки" [(ngModel)]="parcel" class="form-control search__input" type="text">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="wrap-load">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
      </div>
      <app-table
        [item]="parcels"
        [items]="parcels"
        [component]="component"
      >
      </app-table>
    </div>
  </div>
</div>
