.payment_history {

  &--nodata {
    background: #efefef;
    padding: 18px 11px;
    border-radius: 10px;
    border: 2px solid #bdc3c7;
    color: #a0a0a0;
    font-size: 18px;
    font-family: open-sans-regular;
  }
}
.example-container {
  box-shadow: none !important;
}
