<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <div class="complete__icon-wrapper" fxFlex="nogrow" fxLayout="row"
       fxLayoutAlign="center center">
    <mat-icon class="complete__icon" fxFlex="nogrow">done</mat-icon>
  </div>
  <h1 class="complete__title" fxFlex="nogrow">На указанный вами e-mail отправлен код для подтверждения аккаунта. <a href="">Не получили сообщение?</a></h1>
  <div fxFlex="nogrow">
    <button class="btn" (click)="onClose()">Закрыть</button>
  </div>
</div>

