<div class="internal-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="internal-page__name">помощь</h1>
        <i class="fa fa-search faq__icon" aria-hidden="true"></i>
        <input type="text" placeholder="Напишите здесь свой вопрос" class="faq__input">
      </div>
    </div>
  </div>
</div>
<div class="help">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" class="help-menu__link help-menu__link--active" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Аккаунт
                </a>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <ul class="help__list">
                  <li class="help__item">
                    <i class="fa fa-circle help__item__icon help__item__icon--active" aria-hidden="true"></i>
                    <a data-toggle="collapse" href="#block1-1" aria-expanded="false" aria-controls="block1-1" class="help__item__btn help__item__btn--active">
                      Для чего нужен собственный аккаунт на сайте www.ExpressFromUS.com?
                    </a>
                  </li>
                  <li class="help__item">
                    <i class="fa fa-circle help__item__icon" aria-hidden="true"></i>
                    <a data-toggle="collapse" href="#block1-2" aria-expanded="false" aria-controls="block1-2" class="help__item__btn">
                      Сколько стоит регистрация?
                    </a>
                  </li>
                  <li class="help__item">
                    <i class="fa fa-circle help__item__icon" aria-hidden="true"></i>
                    <a data-toggle="collapse" href="#block1-3" aria-expanded="false" aria-controls="block1-3" class="help__item__btn">
                      Есть ли абонентская плата?
                    </a>
                  </li>
                  <li class="help__item">
                    <i class="fa fa-circle help__item__icon" aria-hidden="true"></i>
                    <a data-toggle="collapse" href="#block1-4" aria-expanded="false" aria-controls="block1-4" class="help__item__btn">
                      Я зарегистрировался на вашем сайте, но не получил (случайно удалил) письмо для подтверждения имэйла. Как получить письмо повторно?
                    </a>
                  </li>
                  <li class="help__item">
                    <i class="fa fa-circle help__item__icon" aria-hidden="true"></i>
                    <a data-toggle="collapse" href="#block1-5" aria-expanded="false" aria-controls="block1-5" class="help__item__btn">
                      Почему мой аккаунт удален?
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <h5 class="mb-0">
                <a class="collapsed help-menu__link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Услуга "Полное сопровождение"
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="card-block">
                Anim pariatur cliche reprehenderit, enim eiusmod
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a class="collapsed help-menu__link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Услуга "Ваш адрес в США"
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="card-block">
                Anim pariatur cliche reprehenderit,
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="head4">
              <h5 class="mb-0">
                <a class="collapsed help-menu__link" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  Оплата
                </a>
              </h5>
            </div>
            <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="head4">
              <div class="card-block">
                Anim pariatur cliche reprehenderit,
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="head5">
              <h5 class="mb-0">
                <a class="collapsed help-menu__link" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                  Отправка посылок
                </a>
              </h5>
            </div>
            <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="head5">
              <div class="card-block">
                Anim pariatur cliche reprehenderit,
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="head6">
              <h5 class="mb-0">
                <a class="collapsed help-menu__link" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                  Таможня
                </a>
              </h5>
            </div>
            <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="head6">
              <div class="card-block">
                <ul class="help__list">
                  <li class="help__item">
                    <i class="fa fa-circle help__item__icon" aria-hidden="true"></i>
                    <a href="#" class="help__item__btn">
                      Какие таможенные лимиты
                      существуют для моей страны?
                    </a>
                  </li>
                  <li class="help__item">
                    <i class="fa fa-circle help__item__icon help__item__icon--active" aria-hidden="true"></i>
                    <a href="#" class="help__item__btn help__item__btn--active">
                      Входит ли стоимость
                      международной доставки ...?
                    </a>
                  </li>
                  <li class="help__item">
                    <i class="fa fa-circle help__item__icon" aria-hidden="true"></i>
                    <a href="#" class="help__item__btn">
                      Как заполнить томоженную
                      декларацию?
                    </a>
                  </li>
                  <li class="help__item">
                    <i class="fa fa-circle help__item__icon" aria-hidden="true"></i>
                    <a href="#" class="help__item__btn">
                      Хочу отправить ювелирные
                      украшения, не запрещено ...?
                    </a>
                  </li>
                  <li class="help__item">
                    <i class="fa fa-circle help__item__icon" aria-hidden="true"></i>
                    <a href="#" class="help__item__btn">
                      Таможенная пошлина США
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="head7">
              <h5 class="mb-0">
                <a class="collapsed help-menu__link" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                  Страховка
                </a>
              </h5>
            </div>
            <div id="collapse7" class="collapse" role="tabpanel" aria-labelledby="head7">
              <div class="card-block">
                Anim pariatur cliche reprehenderit,
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="head8">
              <h5 class="mb-0">
                <a class="collapsed help-menu__link" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                  Другая полезная информация
                </a>
              </h5>
            </div>
            <div id="collapse8" class="collapse" role="tabpanel" aria-labelledby="head8">
              <div class="card-block">
                Anim pariatur cliche reprehenderit,
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="collapse" id="block1-1">
          <div class="card card-block">
            После регистрации и создания личного кабинета, вы получаете следующие возможности:

            регистрировать самостоятельные покупки, отправленные на адрес нашего склада,
            размещать свои заказы на полное сопровождение в таких американских магазинах, которые не принимают к оплате иностранные карты,
            пополнять баланс своего счета в автоматическом режиме,
            следить за изменениями в статусах своих покупок,
            формировать посылки для международной пересылки,
            обращаться к истории всех заказов и финансовых операций по счету в любой момент, даже по истечении долгого времени,
            быть в курсе самых последних новостей в мире распродаж и суперакций американских магазинов,
            участвовать в оптовых закупках товаров самого лучшего качества по самым низким ценам.
          </div>
        </div>
        <div class="collapse" id="block1-2">
          <div class="card card-block">
            Регистрация на сайте www.ExpressFromUS.com совершенно бесплатна и займет у вас всего несколько секунд.
          </div>
        </div>
        <div class="collapse" id="block1-3">
          <div class="card card-block">
            Мы не взимаем абонентскую плату за поддержание вашего аккаунта на сайте. Вы платите нашему сервису только за оказанные услуги.
          </div>
        </div>
        <div class="collapse" id="block1-4">
          <div class="card card-block">
            Система отправит вам повторный имэйл при попытке логина в созданный аккаунт на сайте <a href="#">ExpressFromUS.com</a>.
          </div>
        </div>
        <div class="collapse" id="block1-5">
          <div class="card card-block">
            Это может случиться по нескольким причинам:

            Вы воспользовались чужой картой при покупке в американском магазине с доставкой на наш адрес. В этом случае аккаунт блокируется без права восстановления, покупка возвращается в магазин, данные по вашему аккаунту передаются полиции.
            Вы нарушили другие правила пользования нашим сервисом (заказали контрактный телефон на наш адрес, требовали компенсацию за действия сторонних организаций – почтовых, таможенных служб и т.д.).
            Ваше имя занесено в «Черный Список» посредниками или пересылочными компаниями за нарушение закона или неэтичное поведение.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
