.test {
  background: #ff8d80;
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 13px;
}
img {
  width: 16%;
}
.myorders-table__td__pay {
  font-size: 14px;
  font-family: intro, sans-serif;
  color: #323044;
}
.myorders-table__td__prev {
  width: 4%;
}
.myorders-table__td__prev__img {
  width: 42%;
}

mat-panel-title.mat-expansion-panel-header-title {
  justify-content: space-between;
  align-items: center;
}
.mat-expansion-panel-header {
  @media (max-width: 417px) {
    padding: 0 9px;
  }
}

.show-mobile {
  &__head {
    margin: 0;
    flex: 0 1 118px;
    text-align: center;
  }
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
  &:nth-last-child(1) {
    margin-bottom: 50px;
  }
}
.hide-mobile {
  @media (max-width: 768px) {
    display: none;
  }
}
.mail {
  width: 48% !important;
  @media (max-width: 991px) {
    width: 100% !important;
  }
  @media (max-width: 767px) {
    width: 28px !important;
    height: 22px !important;
  }
}
.myorders-table__td__prev {
  width: 4%;
}
.myorders-table__td__prev__img {
  width: 42%;
  @media (max-width: 991px) {
    width: 100%;
  }
  @media (max-width: 767px) {
    width: 28px !important;
    height: 28px !important;
  }
}
.parcel {

  &-item {
    width: 100%;
    &__text {
      text-align: left;
      color: #494949;
      font-size: 14px;
      font-family: open-sans-regular, sans-serif;
    }
    &__title {
      text-align: right;
      color: #a0a0a0;
      font-size: 14px;
      font-family: open-sans-regular, sans-serif;
    }
    &__line {
      display: block;
      width: 100%;
      height: 2px;
      background: #ccc;
    }
  }

  &-row {
    @media (max-width: 417px) {
      max-width: 417px !important;
    }
  }

  &__btn {
    background: #ffffff;
    border: 1px solid #f76451;
    color: #f76451 !important;
    @media (max-width: 767px) {
      font-size: 12px;
    }
    &:hover {
      color: #ffffff !important;
      background: #f76451;
    }
  }

  &-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 25px;

    &-info {

      &__text {
        font-size: 18px;
        font-family: open-sans-regular, sans-serif;
        margin: 0;
        @media (max-width: 500px) {
          font-size: 14px;
        }
      }
    }
  }

  &__disable {
    background: #fff;
    color: #ccc !important;
    border: 1px solid #ccc;
    border-radius: 5px !important;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    margin-right: 6px;
    padding-top: 8px;
    padding-bottom: 4px;
  }

  &-help {
    background: #f7f7f7;
    padding: 15px;
    border-radius: 14px;
    padding-bottom: 2px;
    margin-bottom: 25px;
    @media (max-width: 767px) {
      display: none;
    }

    &__title {
      color: #a0a0a0;
      font-family: intro, sans-serif;
      font-size: 14px;
    }

    &__text {
      font-size: 16px;
      font-family: open-sans-light, sans-serif;
    }
  }
}
.show {
  display: none;
}
.myorders-table__td__prev {
  &:hover {
    cursor: pointer;
    .show {
      width: 27%;
      display: block;
      position: absolute;
      border: 2px solid #ccc;
      height: 30%;
    }
  }
}
.no-data__text {
  background: #efefef;
  margin: 0;
  padding: 25px;
  border-radius: 10px;
  color: #a6a6a6;
  text-align: center;
  font-family: intro, sans-serif;
  margin-bottom: 50px;
}
.myorders-table__th {
  font-size: 12px;
  padding-bottom: 0 !important;
}
.myorders-table__tr:last-child {
  border-bottom: 1px solid #d0d0d0 !important;
}
