<div class="internal-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="internal-page__name">доставка и способы оплаты</h1>
      </div>
      <div class="col-12">
        <p class="delivery-method__text">
          ExpressFromUS.com в качестве посредника осуществляет покупку и доставку посылок из интернет-магазинов США со всевозможными товарами,
          заказанными нашими клиентами: одежда, обувь, техника, детские товары, косметика, предметы интерьера, спорт инвентарь, крупногабаритные товары и даже автомобили.
          Мы предлагаем свои услуги по привлекательной стоимости, используя различные способы международной пересылки ваших американских покупок. После оформления заказа вы
          сможете самостоятельно решить, какая именно доставка товаров из Америки вам нужна, в зависимости от ваших предпочтений и финансовых возможностей.
        </p>
      </div>
      <div class="delivery-method-container">
        <div class="col-12">
          <p class="delivery-method-container__title">Способы доставки</p>
          <div class="delivery-method-list">
            <div class="delivery-method-list-item">
              <p class="delivery-method-list-item__title">Государственная почтовая служба США USPS Priority Express International (EMS)</p>
              <p class="delivery-method-list-item__content">
                Cамый популярный вид доставки товаров из Америки, который отличается оптимальным соотношением стоимости и сроков транспортировки (жители России, Казахстана, Украины и большинства других стран смогут получить свою покупку уже через 10-16 дней). Ради удобства заказчика курьер привезёт ценный груз по указанному адресу. Максимальный вес посылки не должен превышать 70 фунтов (66 фунтов или 30 кг. - для беспошлинного прохождения таможни), а его предельно допустимые габариты не могут быть больше следующих значений: 60 дюймов (152 см.) длина + обхват = 108 дюймов (274 см.). Присваиваемый идентификатор Priority Express начинается на литеру «E». Например: EС*********US. Есть возможность отслеживания посылок по
                трек-номеру.
              </p>
            </div>
            <div class="delivery-method-list-item">
              <p class="delivery-method-list-item__title">USPS Priority International</p>
              <p class="delivery-method-list-item__content">
                Практикует более продолжительные сроки, к примеру, доставка из США в Россию, Украину, Казахстан или Беларусь составляет 25-35 дней. При этом, получать заказ нужно будет в ближайшем к вам почтовом отделении. Максимальный вес посылки может составлять 44 фунта, а предельно допустимые габариты рассчитываются следующим образом: 42 дюйма (107 см.) длина + обхват = 79 дюймов (200 см.). Присваиваемый посылкам идентификатор начинается на литеру «C». Например: CJ*********US. Онлайн-отслеживание посылок возможно на главной странице нашего сайта.
              </p>
            </div>
            <div class="delivery-method-list-item">
              <p class="delivery-method-list-item__title">USPS First Class International</p>
              <p class="delivery-method-list-item__content">
                Самый доступный по цене способ доставки маленьких пакетов. Сроки доставки варьируются от 30 до 45 дней. Максимальный вес посылки составляет 4 фунта или 1.8 кг. Доставка осуществляется до ближайшего к получателю почтового отделения. Присваиваемый посылкам идентификатор начинается на литеру «L». Например: LN*********US. Онлайн-отслеживание посылок возможно на главной странице нашего сайта.
              </p>
            </div>
            <div class="delivery-method-list-item">
              <p class="delivery-method-list-item__title">Dnipro Air</p>
              <p class="delivery-method-list-item__content">
                Наиболее удобный способ пересылки для жителей Украины и Беларуси. Так же возможна доставка товаров из США в Россию. Срок доставки: 12-16 дней для Украины и 25 - 35 дней для Беларуси и России. По Украине, ради удобства заказчиков, курьер доставляет посылки по указанному адресу. По Беларуси и России доставка осуществляется до ближайшего к вам почтового отделения. Стоит учесть, что оплачиваемый минимум составляет 10 фунтов или 4,5 кг. Максимальный вес посылки составляет 60 фунтов (27 кг.) для Украины и 44 фунта (20 кг.) для Беларуси и России.
              </p>
            </div>
            <div class="delivery-method-list-item">
              <p class="delivery-method-list-item__title">Dnipro SEA</p>
              <p class="delivery-method-list-item__content">
                Используется для доставки посылок морем в Украину и Россию. Срок доставки: 30-45 дней для Украины и 40-60 дней для России. Минимальный оплачиваемый вес - 10 фунтов. Максимальный вес посылки - 60 фунтов (27 кг.) для Украины и 44 фунта (20 кг.) для России.
              </p>
            </div>
            <div class="delivery-method-list-item">
              <p class="delivery-method-list-item__title">Cargo (доставка грузов)</p>
              <p class="delivery-method-list-item__content">
                Cамый популярный вид доставки товаров из Америки, который отличается оптимальным соотношением стоимости и сроков транспортировки (жители России, Казахстана, Украины и большинства других стран смогут получить свою покупку уже через 10-16 дней). Ради удобства заказчика курьер привезёт ценный груз по указанному адресу. Максимальный вес посылки не должен превышать 70 фунтов (66 фунтов или 30 кг. - для беспошлинного прохождения таможни), а его предельно допустимые габариты не могут быть больше следующих значений: 60 дюймов (152 см.) длина + обхват = 108 дюймов (274 см.). Присваиваемый идентификатор Priority Express начинается на литеру «E». Например: EС*********US. Есть возможность отслеживания посылок по
                трек-номеру.
              </p>
              <ul>
                <li>название товара</li>
                <li>описание цели применения</li>
                <li>ссылка на страницу продавца</li>
                <li>стоимость товара</li>
                <li>размеры в упаковке (Д*Ш*В)</li>
                <li>вес в кг или фунтах</li>
                <li>город и штат отправителя</li>
                <li>город и страна получателя</li>
                <li>желаемый вид доставки: авиа или море</li>
              </ul>
              <p class="delivery-method-list-item__content">
                В течении 24-48 часов с вами свяжется наш специалист по карго перевозкам и предоставит детальную информацию по стоимости доставки.
              </p>
              <br>
              <p class="delivery-method-list-item__content">
                Мы отправляем посылки только способами, перечисленными в почтовом калькуляторе, которые интегрированы в нашу систему в целях максимальной автоматизации, быстрой обработки и минимизации ошибок. Это позволяет вам пользоваться сервисом по минимальной стоимости. Если вы хотите отправить посылку способом, не перечисленном в нашем калькуляторе, ручная обработка документов и оформление отправки будет стоить дополнительные 30$.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <p class="delivery-method-container__title">О ДОСТАВКЕ</p>
          <div class="delivery-method-list">
            <div class="delivery-method-list-item">
              <p class="delivery-method-list-item__title">Периодичность отправлений</p>
              <p class="delivery-method-list-item__content">
                Посылки USPS отправляются с нашего склада прямиком в международный аэропорт JFK в Нью-Йорке, минуя промежуточные сортировочные пункты. Отгрузка происходит 4 раза в неделю: понедельник, вторник, четверг, пятница. Это значит, что доставка ваших посылок ускорилась на 2-3 дня для ЕМС и на 4-6 дней для Приорити (Priority) и Первого Класса (First Class) по сравнению с традиционной передачей посылок в местное почтовое отделение.
              </p>
              <br>
              <p class="delivery-method-list-item__content">Отправление авиа и морских посылок Dnipro происходит регулярно 2 раза в неделю: по средам и пятницам.</p>
            </div>
            <div class="delivery-method-list-item">
              <p class="delivery-method-list-item__title">На что обратить внимание при заказе посылок из США</p>
              <p class="delivery-method-list-item__content">
                Чем больше весит ваша посылка, тем более выгодной будет стоимость ее доставки из США.<br>
                Посылки маленького веса стоят дороже, так как стоимость первого фунта обычно самая высокая у всех почтовых служб.<br>
                Мы рекомендуем формировать посылки весом от 20 до 40 фунтов (9-18 кг) для максимально выгодной стоимости доставки и безопасного прохождения таможни.
              </p>
            </div>
            <div class="delivery-method-list-item">
              <p class="delivery-method-list-item__title">Пример: расчет стоимости доставки из США</p>
              <p class="delivery-method-list-item__content">
                Стоимость доставки ЕМС посылки из США в Россию:<br>
                1 фунт в 1-фунтовой (453 г.) посылке обойдется в $58.28<br>
                1 фунт в 40-фунтовой посылке (18 кг.) будет стоить $237.74 / 40 = $5.94<br><br>
                Экономия на доставке из США в 10 раз!
              </p>
            </div>
            <div class="delivery-method-list-item">
              <p class="delivery-method-list-item__title">Другой способ сэкономить - совместные покупки в США</p>
              <p class="delivery-method-list-item__content">
                Если ваши покупки весят мало и не получается набрать 10 килограмм, пригласите друзей и родственников чтобы объединить ваши товары в общую
                посылку оптимального веса. Совместные покупки помогут сэкономить на доставке.
              </p>
            </div>
            <div class="delivery-method-list-item">
              <p class="delivery-method-list-item__title">Куда мы отправляем посылки</p>
              <p class="delivery-method-list-item__content">
                Через <a href="">ExpressFromUS.com</a> вы можете заказать доставку посылок из США в Россию, Украину, Беларусь, Казахстан и еще 200 стран по всему миру. Обратите внимание, мы не пересылаем посылки по США, кроме необходимости возврата товара в магазин.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-calculator></app-calculator>
</div>
<app-footer></app-footer>
