<div class="loading">
  <mat-progress-spinner
    class="example-margin"
    mode="indeterminate"
    *ngIf="loading">
  </mat-progress-spinner>
</div>
<div class="form-wrapper add-adress-form-group"
     [ngClass]="{'disable':loading}">
  <div class="form-group">
    <label
      class="material-input"
      [ngClass]="{'hovered':passwordForm.controls['password_old'].valid}"
    >
      <span>Текущий пароль:<span class="dark-orange">*</span></span>
      <input class="input-control"
             type="password"
             [formControl]="passwordForm.controls['password_old']"
      />
    </label>
  </div>
  <div class="form-group">
    <label
      class="material-input"
      [ngClass]="{'hovered':passwordForm.controls['current_password'].valid}"
    >
      <span>Новый пароль:<span class="dark-orange">*</span></span>
      <input class="input-control"
             type="password"
             [formControl]="passwordForm.controls['current_password']"
      />
    </label>
  </div>
  <div class="form-group">
    <label
      class="material-input"
      [ngClass]="{'hovered':passwordForm.controls['password'].valid}"
    >
      <span>Повторите пароль:<span class="dark-orange">*</span></span>
      <input class="input-control"
             type="password"
             [formControl]="passwordForm.controls['password']"
      />
    </label>
  </div>
  <div class="form-group">
    <button
      (click)="editPassword()"
      class="btn form-wrapper__btn">сохранить новый пароль</button>
  </div>
</div>
