<div class="affiliate_program">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="affiliate_program__title">услуги</p>
        <p class="services__title">
          Наша главная закадча – сделать покупки в США простыми и доступными. У нас  понятные условия и минимальная комиссия, а основные услуги бесплатны. Отправляя товары из разных магазинов США одной посылкой вы существенно экономите на доставке.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12 services-container">
        <div class="services__forwarding services__forwarding-main">
          <img src="../../../assets/images/services/number_1.png" alt="">
          <div class="services__block">
            <p class="services__forwarding__text">самостоятельная покупка</p>
            <p class="services__forwarding__desc">получите американский адрес и самостоятельно заказывайте товары</p>
          </div>
        </div>
        <div class="services__order services__order-main">
          <img src="../../../assets/images/services/number_2.png" alt="">
          <div class="services__block">
            <p class="services__forwarding__text">заказы полного сопровождения</p>
            <p class="services__forwarding__desc">выкупим товары из американских магазинов по вашей ссылке</p>
          </div>
        </div>
        <span class="services__line"></span>
        <div class="services__forwarding">
          <img src="../../../assets/images/services/number_1.png" alt="">
          <div class="services__block">
            <p class="services__forwarding__text services__forwarding__text--noactive">предоставление личого адреса в сша</p>
            <p class="services__forwarding__desc">Бестплатно</p>
          </div>
        </div>
        <div class="services__order services__order__info">
          <p class="">Зарегистрируйтесь и получите бесплатный адрес в США для покупок.</p>
          <p class="">Вы можете воспользоваться им сразу же или в любое время когда будет удобно.</p>
        </div>
        <span class="services__line"></span>
        <div class="services__forwarding">
          <img src="../../../assets/images/services/number_1.png" alt="">
          <div class="services__block">
            <p class="services__forwarding__text services__forwarding__text--noactive">прием посылок на склад</p>
            <p class="services__forwarding__desc">Бестплатно</p>
          </div>
        </div>
        <div class="services__order services__order__info">
          <p class="">Незавиимо от магазина, веса входящей посылки и количества товаров.</p>
        </div>
        <span class="services__line"></span>
        <div class="services__forwarding">
          <img src="../../../assets/images/services/number_1.png" alt="">
          <div class="services__block">
            <p class="services__forwarding__text services__forwarding__text--noactive">хранение посылок</p>
            <p class="services__forwarding__desc">Бестплатно (90 дней)</p>
          </div>
        </div>
        <div class="services__order services__order__info">
          <p class="">90 дней бесплатного хранения всех ваших покупок, без ограничения по весу и габаритам.</p>
          <p class="services__text--dark">Дополнительное хранение-согласно <a href="">тарифам</a>.</p>
        </div>
        <span class="services__line"></span>
        <div class="services__forwarding">
          <img src="../../../assets/images/services/number_1.png" alt="">
          <div class="services__block">
            <p class="services__forwarding__text services__forwarding__text--noactive">объединение посылок</p>
            <p class="services__forwarding__desc">Бестплатно</p>
          </div>
        </div>
        <div class="services__order services__order__info">
          <p class="">Бесплатное объединение(консолидация) любого количества входящих посылок в одну общую посылку для вашей экономии на доставке.</p>
          <p class="services__text--dark">Обединяя покупки вы экономите  на доставке до 80%, по сравнению с прямой отправкой из магазинов.</p>
        </div>
        <span class="services__line"></span>
        <div class="services__forwarding">
          <img src="../../../assets/images/services/number_1.png" alt="">
          <div class="services__block">
            <p class="services__forwarding__text services__forwarding__text--noactive">заполнение декларации оператором склада</p>
            <p class="services__forwarding__desc">$1</p>
          </div>
        </div>
        <div class="services__order services__order__info">
          <p class="">Вы можете заполнить декларацию самостоятельно.</p>
          <p class="">Операторы нашего склада могут взять на себя эту работу, тогда вам не придется делать дополнительную работу .</p>
        </div>
        <span class="services__line"></span>
        <div class="services__forwarding">
          <img src="../../../assets/images/services/number_1.png" alt="">
          <div class="services__block">
            <p class="services__forwarding__text services__forwarding__text--noactive">упаковка посылки</p>
            <p class="services__forwarding__desc">Рассчитывается индивидуально, от $6</p>
          </div>
        </div>
        <div class="services__order services__order__info">
          <p class="">Стоимость упаковки-единственное, что не поддается точному рассчету без осмотра товаров. На стоимость влияет объем товаров, вес, индивидуальные особенности , такие как хрупкость. Точная стоимость станет известна после того, как посылка будет полностью упакована.</p>
        </div>
        <span class="services__line"></span>
        <div class="services__forwarding">
          <img src="../../../assets/images/services/number_1.png" alt="">
          <div class="services__block">
            <p class="services__forwarding__text services__forwarding__text--noactive">страхование посылки</p>
            <p class="services__forwarding__desc">$3 за каждые $100</p>
          </div>
        </div>
        <div class="services__order services__order__info">
          <p class="">Мы предлагаем простые и понятные условия страхования ваших посылок от полной утери, краж и повреждений: $3 за каждые оценочные $100.</p>
        </div>
        <span class="services__line"></span>
        <div class="services__forwarding">
          <img src="../../../assets/images/services/number_1.png" alt="">
          <div class="services__block">
            <p class="services__forwarding__text services__forwarding__text--noactive">хранение посылок</p>
            <p class="services__forwarding__desc">Подробнее - Калькулятор</p>
          </div>
        </div>
        <div class="services__order services__order__info">
          <p class="">У нас честные и прозрачные тарифы на доставку самыми популярными службами: Почной Express, USPS, Econom, Air Express. Объединяйте все ваши покупки на нашем складе и выбирайте ту службу доставки, которая подходит вам.</p>
        </div>
        <span class="services__line"></span>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
