<div class="affiliate_program">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="affiliate_program__title">ПАРТНЕРСКАЯ ПРОГРАММА</p>
      </div>
      <div class="col-md-12">
        <div class="affiliate_program-benefit">
          <p class="affiliate_program-benefit__title">Почему выгодно участвовать в партнерской программе ExpressFromUS</p>
          <ul class="affiliate_program-benefit__list">
            <li class="affiliate_program-benefit__list__item">
              Вы рекомендуете надежную компанию с высоким уровнем сервиса.
            </li>
            <li class="affiliate_program-benefit__list__item">
              И получаете самую высокую комиссию в индустрии.
            </li>
            <li class="affiliate_program-benefit__list__item">
              $10 x 5 посылок нового пользователя = $50 за каждого клиента!
            </li>
            <li class="affiliate_program-benefit__list__item">
              Комиссия зачисляется на ваш счет сразу после отправки клиентом посылки (USPS Priority
            </li>
            <li class="affiliate_program-benefit__list__item">
              International или USPS Priority Express International).
            </li>
            <li class="affiliate_program-benefit__list__item">
              Выплаты осуществляются на ПэйПал эккаунт или на любой счет в системе ExpressFromUS.
            </li>
            <li class="affiliate_program-benefit__list__item">
              Нет минимального порога для вывода средств.
            </li>
            <li class="affiliate_program-benefit__list__item">
              Активация партнерской программы совершенно бесплатна.
            </li>
            <li class="affiliate_program-benefit__list__item">
              Множество готовых баннеров.
            </li>
            <li class="affiliate_program-benefit__list__item">
              Удобный личный кабинет с подробной статистикой.
            </li>
            <li class="affiliate_program-benefit__list__item">
              Новый пользователь по вашей ссылке сразу получает $10 на свой счет.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="affiliate_program-sale">
  <div class="affiliate_program-sale-top">
    <p class="affiliate_program-sale__text">скидка</p>
    <p class="affiliate_program-sale__value">$10</p>
    <img src="../../../assets/images/icons/&.png" alt="" class="affiliate_program-sale__icon__after">
    <p class="affiliate_program-sale__value">$10</p>
    <div class="affiliate_program-sale__container">
      <img src="images/icons/x.svg" alt="" class="affiliate_program-sale__icon__before">
      <p class="affiliate_program-sale__container__text">5</p>
    </div>
    <p class="affiliate_program-sale__text">награда</p>
  </div>
  <div class="affiliate_program-sale-bottom">
    <a href="" class="btn affiliate_program-sale__btn">перейти в мои вознаграждения</a>
  </div>
</div>
<div class="affiliate_program-feature">
  <div class="container">
    <div class="row">
      <div class="col-md-12 affiliate_program-feature-block">
        <span class="affiliate_program-feature__line"></span>
        <p class="affiliate_program-feature__title">Кто может стать партнером</p>
        <p class="affiliate_program-feature__text">
          Партнерская программа ExpressFromUS - отличный источник дохода для владельцев тематических сайтов, форумов, блогов, сообществ, активных пользователей социальных сетей, разработчиков телефонных приложений, видео игр, а так же для владельцев любых других источников интернет трафика.
        </p>
        <span class="affiliate_program-feature__line"></span>
        <p class="affiliate_program-feature__title">Сколько можно заработать</p>
        <p class="affiliate_program-feature__text">
          По статистике, 100 000 уникальных ежемесячных посетителей сайта могут принести до $10 000 в месяц его владельцу!
        </p>
      </div>
    </div>
  </div>
</div>
<div class="affiliate_program-info">
  <div class="affiliate_program-info-block">
    <p class="affiliate_program-info__text">100 000<span class="affiliate_program-info__text__before">посетителей</span></p>
    <p class="affiliate_program-info__text"><span class="affiliate_program-info__x"> x </span> 5%<span class="affiliate_program-info__text__before">регистраций</span></p>
    <p class="affiliate_program-info__text"><span class="affiliate_program-info__smooth">=</span> 5000<span class="affiliate_program-info__x"> x </span> 20%<span class="affiliate_program-info__text__before">активных клиентов</span></p>
    <p class="affiliate_program-info__text"><span class="affiliate_program-info__smooth">=</span>1000<span class="affiliate_program-info__text__before">посылок</span></p>
    <p class="affiliate_program-info__text"><span class="affiliate_program-info__x">x</span></p>
    <p class="affiliate_program-info__text">$10</p>
    <p class="affiliate_program-info__text"><span class="affiliate_program-info__smooth">=</span></p>
    <p class="affiliate_program-info__text">$1000<span class="affiliate_program-info__text__before">за первый месяц в программе !</span></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="affiliate_program-info__desc">Каждый месяц сумма увеличивается за счет постоянных клиентов.</p>
    </div>
  </div>
</div>
<div class="affiliate_program-feature">
  <div class="container">
    <div class="row">
      <div class="col-md-12 affiliate_program-feature-block">
        <p class="affiliate_program-feature__title">Кто может стать партнером</p>
        <p class="affiliate_program-feature__text">
          Партнерская программа ExpressFromUS - отличный источник дохода для владельцев тематических сайтов, форумов, блогов, сообществ, активных пользователей социальных сетей, разработчиков телефонных приложений, видео игр, а так же для владельцев любых других источников интернет трафика.
        </p>
        <p class="affiliate_program-feature__step">1. Создайте аккаунт в системе ExpressFromUS.com.</p>
        <p class="affiliate_program-feature__step">2. Перейдите на страницу партнерской программы https://expressfromus.com/partner/account.</p>
        <p class="affiliate_program-feature__step">3. Выберите баннеры или создайте ссылки с вашим партнерским кодом.</p>
        <p class="affiliate_program-feature__step">4. Разместите их на вашем сайте, форуме, в блоге, социальных сетях и т.д.</p>
        <p class="affiliate_program-feature__step">5. Продвигайте и зарабатывайте!</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
