<div class="delivery-parallax" id="parall">
  <div class="delivery__parallax-block">
    <h1>Доставка товаров из америки</h1>
    <a href="#" routerLink="orders" class="delivery-parallax-block-content">
      <p class="delivery-parallax-block-content__title">Самостоятельная покупка</p>
      <p class="delivery-parallax-block-content__desc">получите америнкаский адрес и самостоятельно заказывайте товары</p>
    </a>
    <a href="#" routerLink="orders/order" class="delivery-parallax-block-content">
      <p class="delivery-parallax-block-content__title">заказы полного сопровождения </p>
      <p class="delivery-parallax-block-content__desc">получите америнкаский адрес и самостоятельно заказывайте товары</p>
    </a>
  </div>
  <img id="Layer_1" src="../../../assets/images/main/parallax/bg.svg" alt="">
  <img src="../../../assets/images/main/parallax/star.svg" alt="" id="Layer_7">
  <img src="../../../assets/images/main/parallax/3cloud.svg" alt="" id="Layer_8">
  <img src="../../../assets/images/main/parallax/4city.svg" alt="" id="Layer_9">
  <img src="../../../assets/images/main/parallax/5city.svg" alt="" id="Layer_10">
  <img src="../../../assets/images/main/parallax/6city.svg" alt="" id="Layer_11">
  <img src="../../../assets/images/main/parallax/7city.svg" alt="" id="Layer_12">
  <img src="../../../assets/images/main/parallax/8city.svg" alt="" id="Layer_13">
  <img src="../../../assets/images/main/parallax/9city.svg" alt="" id="Layer_14">
  <img src="../../../assets/images/main/parallax/truck.svg" alt="" id="Layer_3">
  <img src="../../../assets/images/main/parallax/car.svg" alt="" id="Layer_4">
  <img src="../../../assets/images/main/parallax/aircraft.svg" alt="" id="Layer_15">
  <img src="../../../assets/images/main/parallax/free.svg" alt="" id="Layer_2">
  <img src="../../../assets/images/main/parallax/14wave.svg" alt="" id="Layer_5">
  <img src="../../../assets/images/main/parallax/15wave.svg" alt="" id="Layer_6">
  <img src="../../../assets/images/main/parallax/ship.svg" alt="" id="Layer_16">
</div>
<div class="receiving-delivery">
  <div class="container">
    <div class="row">
      <div class="col-md-12 receiving-delivery__help">
        <p class="receiving-delivery__help__text">ExpressFromUS – простой и удобный сервис по доставке посылок из США. С нами вы сможете покупать и доставлять заказы из любых американских интернет-магазинов.
          После регистрации вы бесплатно получите личную ячейку на нашем американском складе. Ячейка - это ваш личный американский адрес. Используйте его для совершения покупок в Америке, а мы объединим все ваши заказы в одну посылку и доставим прямо к вам домой.</p>
      </div>
      <div class="col-md-4 text-center">
        <img src="../../../assets/images/main/delivery/boxs.svg" alt="">
        <p class="dark-orange receiving-delivery__title">покупка</p>
        <p class="receiving-delivery__desc">Вы оформляете заказ на ваш личный адресс США который доступен после регистрации</p>
      </div>
      <div class="col-md-4 text-center">
        <img src="../../../assets/images/main/delivery/items.svg" alt="">
        <p class="dark-orange receiving-delivery__title">покупка</p>
        <p class="receiving-delivery__desc">Вы оформляете заказ на ваш личный адресс США который доступен после регистрации</p>
      </div>
      <div class="col-md-4 text-center">
        <img src="../../../assets/images/main/delivery/aircraft.svg" alt="">
        <p class="dark-orange receiving-delivery__title">покупка</p>
        <p class="receiving-delivery__desc">Вы оформляете заказ на ваш личный адресс США который доступен после регистрации</p>
      </div>
      <div *ngIf="!user" class="col-md-12 text-center">
        <button routerLink="login" class="btn form-wrapper__btn">Получите адрес в США прямо сейчас!</button>
      </div>
    </div>
  </div>
</div>
<app-calculator></app-calculator>
<div class="carousel-firms nsk-carousel-firms hidden-sm-down" id="nsk-firm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="owl-carousel owl-carousel-nsk">
          <ul>
            <li class="item carousel-firms__block">
              <a href="#" style="background: url('../../../assets/images/main/carousel/amazon_logo_RGB.jpg')"></a>
            </li>
            <li class="item carousel-firms__block">
              <a href="#" style="background: url('../../../assets/images/main/carousel/Apple-logo-grey.png')"></a>
            </li>
          </ul>
          <ul>
            <li class="item carousel-firms__block">
              <a href="#" style="background: url('../../../assets/images/main/carousel/baf2899647d7ae41ce4e57184091bea1_ralph-lauren-lauren-clip-art-polo-ralph-lauren-logo-clipart_3600-1050.png')"></a>
            </li>
            <li class="item carousel-firms__block">
              <a href="#" style="background: url('../../../assets/images/main/carousel/bfadb3cb17313a974e70276df5f6ccfd.jpg')"></a>
            </li>
          </ul>
          <ul>
            <li class="item carousel-firms__block">
              <a href="#" style="background: url('../../../assets/images/main/carousel/baf2899647d7ae41ce4e57184091bea1_ralph-lauren-lauren-clip-art-polo-ralph-lauren-logo-clipart_3600-1050.png')"></a>
            </li>
            <li class="item carousel-firms__block">
              <a href="#" style="background: url('../../../assets/images/main/carousel/bfadb3cb17313a974e70276df5f6ccfd.jpg')"></a>
            </li>
          </ul>
          <ul>
            <li class="item carousel-firms__block">
              <a href="#" style="background: url('../../../assets/images/main/carousel/gap-sklep-w-polsce-145513_L.jpg')"></a>
            </li>
            <li class="item carousel-firms__block">
              <a href="#" style="background: url('../../../assets/images/main/carousel/images.png')"></a>
            </li>
          </ul>
          <ul>
            <li class="item carousel-firms__block">
              <a href="#" style="background: url('../../../assets/images/main/carousel/img-thing.jpg')"></a>
            </li>
            <li class="item carousel-firms__block">
              <a href="#" style="background: url('../../../assets/images/main/carousel/Levis_logo.png')"></a>
            </li>
          </ul>
          <ul>
            <li class="item carousel-firms__block">
              <a href="#" style="background: url('../../../assets/images/main/carousel/logo.png')"></a>
            </li>
            <li class="item carousel-firms__block">
              <a href="#" style="background: url('../../../assets/images/main/carousel/Michael_Kors_(brand)_logo.png')"></a>
            </li>
          </ul>
          <ul>
            <li class="item carousel-firms__block">
              <a href="#" style="background: url('../../../assets/images/main/carousel/offer_card.png')"></a>
            </li>
            <li class="item carousel-firms__block">
              <a href="#" style="background: url('../../../assets/images/main/carousel/Sephora_Logo.jpg')"></a>
            </li>
          </ul>
          <ul>
            <li class="item carousel-firms__block">
              <a href="#" style="background: url('../../../assets/images/main/carousel/images.png')"></a>
            </li>
            <li class="item carousel-firms__block">
              <a href="#" style="background: url('../../../assets/images/main/carousel/Walmart-Logo-slogan.png')"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="delivery-feature">
  <div class="delivery-feature__block">
    <p class="delivery-feature__number">10000<span class="delivery-feature__text">пользователей</span></p>
  </div>
  <div class="delivery-feature__block">
    <p class="delivery-feature__number">75800 <span class="delivery-feature__text">отправлено посылок</span></p>
  </div>
</div>
<div class="reviews">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="owl-carousel owl-theme">
          <div class="item">
            <p>"Спасибо большое! посылка упакована хорошо"</p>
            <div class="reviews-information">
              <div class="reviews-information--left">
                <p class="dark-gray">стоимость покупки</p>
                <p class="text-bold">$380.00</p>
                <p class="dark-gray reviews-information__ship">доставка</p>
                <p class="text-bold">$38</p>
              </div>
              <div class="reviews-information--right">
                <p class="text-bold">Angelina</p>
                <p class="dark-gray">Russia, Murmanstk VIP-RA1243234234234</p>
              </div>
            </div>
            <div class="reviews-information--img">
              <a href="">
                <img src="" alt="">
              </a>
              <a href="">
                <img src="" alt="">
              </a>
              <a href="">
                <img src="" alt="">
              </a>
            </div>
          </div>
          <div class="item">
            <p>"Спасибо большое! посылка упакована хорошо"</p>
            <div class="reviews-information">
              <div class="reviews-information--left">
                <p class="dark-gray">стоимость покупки</p>
                <p class="text-bold">$380.00</p>
                <p class="dark-gray reviews-information__ship">доставка</p>
                <p class="text-bold">$38</p>
              </div>
              <div class="reviews-information--right">
                <p class="text-bold">Angelina</p>
                <p class="dark-gray">Russia, Murmanstk VIP-RA1243234234234</p>
              </div>
            </div>
            <div class="reviews-information--img">
              <a href="">
                <img src="" alt="">
              </a>
              <a href="">
                <img src="" alt="">
              </a>
              <a href="">
                <img src="" alt="">
              </a>
            </div>
          </div>
          <div class="item">
            <p>"Спасибо большое! посылка упакована хорошо"</p>
            <div class="reviews-information">
              <div class="reviews-information--left">
                <p class="dark-gray">стоимость покупки</p>
                <p class="text-bold">$380.00</p>
                <p class="dark-gray reviews-information__ship">доставка</p>
                <p class="text-bold">$38</p>
              </div>
              <div class="reviews-information--right">
                <p class="text-bold">Angelina</p>
                <p class="dark-gray">Russia, Murmanstk VIP-RA1243234234234</p>
              </div>
            </div>
            <div class="reviews-information--img">
              <a href="">
                <img src="" alt="">
              </a>
              <a href="">
                <img src="" alt="">
              </a>
              <a href="">
                <img src="" alt="">
              </a>
            </div>
          </div>
          <div class="item">
            <p>"Спасибо большое! посылка упакована хорошо"</p>
            <div class="reviews-information">
              <div class="reviews-information--left">
                <p class="dark-gray">стоимость покупки</p>
                <p class="text-bold">$380.00</p>
                <p class="dark-gray reviews-information__ship">доставка</p>
                <p class="text-bold">$38</p>
              </div>
              <div class="reviews-information--right">
                <p class="text-bold">Angelina</p>
                <p class="dark-gray">Russia, Murmanstk VIP-RA1243234234234</p>
              </div>
            </div>
            <div class="reviews-information--img">
              <a href="">
                <img src="" alt="">
              </a>
              <a href="">
                <img src="" alt="">
              </a>
              <a href="">
                <img src="" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
