<div class="shops-banner">
  <div class="container shops-banner-wr">
    <div class="col-md-12 shops-banner__text">
      <h1>michael kors</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="shops-content">
      <div class="shops-content-information">
        <h1 class="shops-content-information__title">
          интернет-магазин<br>
          michaelkors.com
        </h1>
        <p class="shops-content-information__text">
          <span class="shops-content-information__text--bold">michaelkors.com</span>— это известный интернет-магазин, который представляет нижнее белье и комфортную
          одежду для мужчин, детей и женщин. Именно здесь можно приобрести товары, которые изготовлены из текстиля
          высокого качества. Компания имеет богатую историю, и вот уже более ста лет радует покупателей своей
          замечательной продукцией. Стоит отметить, что это один из самых крупных производителей текстиля. Hanes.com
          пользуетс
          я заслуженной популярностью среди людей, которые ценят уют. Уникальные изделия для всей семьи создаются по
          специальной технологии. Такой подход обеспечивает высокий результат и гарантирует покупателям повышенный комфорт.
        </p>
        <img src="../../../assets/images/shops/img1.png" alt="" class="shops-content-information__pic">
        <p class="shops-content-information__text">
          представляет нижнее белье и комфортную одежду для мужчин, детей и женщин. Именно здесь
          можно пр это известный интернет-магазин, который представляет нижнее белье и комфортную одежду для мужчин,
          детей и женщин. Именно здесь можно приоб
        </p>
        <img src="../../../assets/images/shops/img2.png" alt="" class="shops-content-information__pic">
        <p class="shops-content-information__text">
          <span class="shops-content-information__text--bold">michaelkors.com</span>— это известный интернет-магазин, который представляет нижнее белье и комфортную одежду для мужчин, детей
          и женщин. Именно здесь можно приобрести товары, которые изготовлены из текстиля высокого качества. Компания имеет
        </p>
        <p class="shops-content-information__text">
          <span class="shops-content-information__text--bold">michaelkors.com</span>— это известный интернет-магазин, который представляет нижнее белье и комфортную одежду для мужчин, детей
          и женщин. Именно здесь можно приобрести товары, которые изготовлены из текстиля высокого качества. Компания имеет
        </p>
      </div>
      <div class="shops-content-bar">
        <img src="../../../assets/images/shops/img3.png" alt="" class="shops-content-bar__pic">
        <ul class="shops-content-bar__list">
          <li class="shops-content-bar__list__item">
            <p class="shops-content-bar__list__item__text">
              <span class="shops-content-bar__list__item__text__title">michaelkors.com</span>
              Официальный сайт магазина
            </p>
          </li>
          <li class="shops-content-bar__list__item">
            <p class="shops-content-bar__list__item__text">
              <span class="shops-content-bar__list__item__text__title">michaelkors.com</span>
              Официальный сайт магазина
            </p>
          </li>
          <li class="shops-content-bar__list__item">
            <p class="shops-content-bar__list__item__text">
              <span class="shops-content-bar__list__item__text__title">michaelkors.com</span>
              Официальный сайт магазина
            </p>
          </li>
        </ul>
        <div class="shops-content-bar__shares">
          <div class="shops-content-bar__shares__item">
            <div class="shops-content-bar__shares__container">
              <p class="shops-content-bar__shares__proz">%</p>
              <p class="shops-content-bar__shares__text">
                Заказа стоимость $75 и больше продавец
                отправит бесплатно на наши склады
                в Деловере и Пенсильвании ценам
              </p>
              <p class="shops-content-bar__shares__desc">
                с 1 по 20 сентября
                нии ценам
              </p>
            </div>
          </div>
          <div class="shops-content-bar__shares__item">
            <div class="shops-content-bar__shares__container">
              <p class="shops-content-bar__shares__proz">%</p>
              <p class="shops-content-bar__shares__text">
                Заказа стоимость $75 и больше продавец
                отправит бесплатно на наши склады
                в Деловере и Пенсильвании ценам
              </p>
              <p class="shops-content-bar__shares__desc">
                с 1 по 20 сентября
                нии ценам
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-delivery">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="blog-delivery-wr">
            <p class="blog-delivery__title">
              как покупать в <a href="#">michaelkors.com</a> c
              <span class="bold">
                                            Express<span class="orange">from</span>
                                        </span>
            </p>
            <div class="blog-delivery-change">
              <div class="blog-delivery-change__step">
                <span class="blog-delivery-change__icon">1</span>
                <div class="blog-delivery-change-content">
                  <p class="blog-delivery-change__title">
                    Выпокупаете
                    понравившийеся товары
                  </p>
                  <p class="blog-delivery-change__desc">
                    Покупаете любые понравившиеся товары.
                    Все нюансы покупок смотри в <a href="#">инструкции</a>
                  </p>
                </div>
              </div>
              <div class="arrow-block">
                <img src="../../../assets/images/blog/arrow.png" alt="" class="arrow">
              </div>
              <div class="blog-delivery-change__step">
                <span class="blog-delivery-change__icon">2</span>
                <div class="blog-delivery-change-content">
                  <p class="blog-delivery-change__title">
                    Выпокупаете
                    понравившийеся товары
                  </p>
                  <p class="blog-delivery-change__desc">
                    Покупаете любые понравившиеся товары.
                    Все нюансы покупок смотри в <a href="#">инструкции</a>
                  </p>
                </div>
              </div>
              <div class="arrow-block">
                <img src="../../../assets/images/blog/arrow.png" alt="" class="arrow">
              </div>
              <div class="blog-delivery-change__step">
                <span class="blog-delivery-change__icon">3</span>
                <div class="blog-delivery-change-content">
                  <p class="blog-delivery-change__title">
                    Выпокупаете
                    понравившийеся товары
                  </p>
                  <p class="blog-delivery-change__desc">
                    Покупаете любые понравившиеся товары.
                    Все нюансы покупок смотри в <a href="#">инструкции</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="shops-address" *ngIf="!user">
  <p class="shops-address__title">
    Получить личный адрес для покупок в США
  </p>
  <div class="shops-address__container">
    <a href="#" class="btn shops-address__btn shops-address__btn--auth" routerLink="/login">
      войти
    </a>
    <a href="#" class="btn shops-address__btn shops-address__btn--reg" routerLink="/login">
      зарегистрироваться
    </a>
  </div>
  <div class="shops-address-social">
    <p class="shops-address-social__title">зайти через соцсети</p>
    <div class="shops-address-social-icon">
      <a href="">
        <img src="../../../assets/images/social/white-inst.svg" alt="">
      </a>
      <a href="">
        <img src="../../../assets/images/social/white-fb.svg" alt="">
      </a>
      <a href="">
        <img src="../../../assets/images/social/white-vk.svg" alt="">
      </a>
    </div>
  </div>
</div>
<app-calculator></app-calculator>
<app-footer></app-footer>
